.works {
   padding: 40px 0 80px;
   @include breakpoint($md-3, 0) {
      padding: 30px 0 50px;
   }
   @include breakpoint($md-3, 0) {
      padding-bottom: 30px;
   }
   &-page {
      padding: 0 !important;
      .works__items {
         display: block;
      }
      .works__item {
         margin-bottom: 20px;
         &:last-child {
            margin-bottom: 0;
         }
      }
   }
   &__container {
   }

   &__title {
      margin-bottom: 40px;
      @include breakpoint($md-3, 0) {
         margin-bottom: 30px;
      }
   }

   &__items {
      @include breakpoint(680, 0) {
         display: flex;
         overflow: auto;
      }
   }

   &__item {
      display: flex;
      padding-bottom: 15px;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 30px;
      &:last-child {
         margin-bottom: 0;
      }
      @include breakpoint(680, 0) {
         flex: 0 0 90%;
         display: block;
         margin-right: 20px;
         margin-bottom: 0;
         &:last-child {
            margin-right: 0;
         }
      }
   }

   &__image {
      align-self: flex-start;
      flex: 0 0 246px;
      min-height: 180px;
      border-radius: 5px;
      overflow: hidden;
      display: block;
      margin-right: 18px;
      @include breakpoint(680, 0) {
         margin: 0 0 17px 0;
         padding-bottom: 45%;
      }
   }

   &__content {
   }

   &__link {
      font-size: 30px;
      font-weight: 700;
      color: inherit;
      @include breakpoint($md-3, 0) {
         font-size: 24px;
      }
   }

   &__info {
      margin-top: 20px;
      display: flex;
      align-items: center;
      @include breakpoint(680, 0) {
         margin-top: 15px;
      }
   }

   &__date {
      align-self: flex-start;
      display: inline-flex;
      background-color: #142850;
      border-radius: 16px;
      align-items: center;
      font-weight: 900;
      justify-content: center;
      padding: 0 12px;
      color: $white;
      height: 25px;
      font-size: 16px;
      margin-right: 26px;
   }

   &__category {
      color: #8695a4;
      font-size: 20px;
   }

   &__text {
      margin-top: 25px;
      @include breakpoint(680, 0) {
         margin-top: 20px;
      }
   }
}
